1.0/eatdrinkfeelgood.dtd

<!-- ====================================================================== 
     Eatdrinkfeelgood data format DTD
     Version 1.0

     $Date: 2002/12/20 04:44:26 $

     PUBLIC "-//Aaron Straup Cope//DTD Eatdrinkfeelgood 1.0//EN//XML"
     SYSTEM http://www.eatdrinkfeelgood.info/1.0/eatdrinkfeelgood.dtd

     Documentation : http://www.eatdrinkfeelgood.info/docs/1.0

     This work is licensed under the Creative Commons Attribution-ShareAlike 
     License. 

     To view a copy of this license, visit 

        http://creativecommons.org/licenses/by-sa/1.0 

     or send a letter to 

        Creative Commons, 
        559 Nathan Abbott Way, 
        Stanford, California 
        94305, USA.

     Copyright (c) 2001-2002 Aaron Straup Cope. All Rights Reserved.
     http://www.eatdrinkfeelgood.info

     ====================================================================== -->

<!-- ====================================================================== -->
<!-- ENTITIES                                                               -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!-- local.version                                                          -->
<!--                                                                        -->
<!-- What time is it?                                                       -->
<!-- ====================================================================== -->

<!ENTITY % local.version "1.0a5">

<!-- ====================================================================== -->
<!-- local.meta.name                                                        -->
<!--                                                                        -->
<!-- Dublin Core. If you're in to that kind of thing.                       -->
<!-- It's optional, if you're not.                                          -->
<!-- ====================================================================== -->

<!ENTITY % local.meta.name "(DC.Title | DC.Subject | DC.Description | DC.Type | DC.Source | DC.Relation | DC.Coverage | DC.Creator | DC.Publisher | DC.Contributor | DC.Rights | DC.Date | DC.Format | DC.Identifier | DC.Language)">

<!-- ====================================================================== -->
<!-- local.(source|category).name                                           -->
<!--                                                                        -->
<!-- For the database wonks out there. Use the primary key, Luke.           -->
<!-- I have no plans of adding something similar for ingredients. That's    -->
<!-- just weird.                                                            -->
<!-- ====================================================================== -->

<!ENTITY % local.category.type "(name|id)">
<!ENTITY % local.source.type   "(name|id)">

<!-- ====================================================================== -->
<!-- local.measure.unit                                                     -->
<!--                                                                        -->
<!-- This came out of the Joy of Cooking.                                   -->
<!-- I'm open to suggestions. I'd to keep the list to things that can be    -->
<!-- converted from one measure to another, so thing like "large" would be  -->
<!-- best reserved for the customunit element.                              -->
<!-- ====================================================================== -->

<!ENTITY % local.measure.unit "(kilogram|gram|milligram|litre|millilitre|gallon|quart|pint|gill|cup|tablespoon|teaspoon|bushel|peck|pound|dram|ounce)">

<!-- ====================================================================== -->
<!-- local.image.type                                                       -->
<!--                                                                        -->
<!-- I don't know if this is really necessary.                              -->
<!-- It just seemed like the right thing to do.                             -->
<!-- ====================================================================== -->

<!ENTITY % local.image.type "(diagram|photo|illustration)">

<!-- ====================================================================== -->
<!-- ELEMENTS                                                               -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!-- ====================================================================== -->
<!-- /eatdrinkfeelgood                                                      -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT eatdrinkfeelgood (head,(menu|recipe),revhistory)>
<!ATTLIST eatdrinkfeelgood version CDATA #FIXED "%local.version;">

<!-- ====================================================================== -->
<!-- /eatdrinkfeelgood/head                                                 -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT head ((meta*|meta?))>

<!-- ====================================================================== -->
<!-- /eatdrinkfeelgood/head/meta                                            -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT meta EMPTY>
<!ATTLIST meta
  name    %local.meta.name; #REQUIRED
  content CDATA             #REQUIRED
  scheme  CDATA             #IMPLIED
  lang    CDATA             #IMPLIED >

<!-- ====================================================================== -->
<!-- /eatdrinkfeelgood/menu                                                 -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT menu   (name,abstract?,course*)>

<!-- ====================================================================== -->
<!-- /eatdrinkfeelgood/menu/course                                          -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT course (name,abstract?,recipe*)>

<!-- ====================================================================== -->
<!-- */recipe                                                               -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT recipe (name,source,yield?,(category*|category?),(custom*|custom?),ingredients,directions,notes,history?)>

<!-- ====================================================================== -->
<!-- */recipe/source                                                        -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT source EMPTY>
<!ATTLIST source type    %local.source.type; #REQUIRED
                 content CDATA               #REQUIRED>

<!-- ====================================================================== -->
<!-- */recipe/yield                                                         -->
<!--                                                                        -->
<!-- I don't know. Personally, I find this sort of information useless.     -->
<!-- ====================================================================== -->

<!ELEMENT yield (amount,measure,detail)>

<!-- ====================================================================== -->
<!-- */recipe/category                                                      -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT category EMPTY>
<!ATTLIST category type    %local.category.type; #REQUIRED
                   content CDATA                 #REQUIRED>

<!-- ====================================================================== -->
<!-- */recipe/custom                                                        -->
<!--                                                                        -->
<!-- This would be a good spot to do something like                         -->
<!-- <custom name = "vegetarian" content = "yes" />                         -->
<!-- ====================================================================== -->

<!ELEMENT custom EMPTY>
<!ATTLIST custom name    CDATA #REQUIRED
                 content CDATA #REQUIRED>

<!-- ====================================================================== -->
<!-- */recipe/ingredients                                                   -->
<!--                                                                        -->
<!-- It's not like meals just grow on trees...or something like that.       -->
<!-- ====================================================================== -->

<!ELEMENT ingredients (ing*)>

<!-- ====================================================================== -->
<!-- */recipe/ingredients/ing                                               -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT ing (amount,measure,item,detail?,image?)>

<!-- ====================================================================== -->
<!-- */recipe/ingredients/ing/item                                          -->
<!--                                                                        -->
<!-- The ingredient itself. e.g. "egg"                                      -->
<!-- ====================================================================== -->

<!ELEMENT item (#PCDATA)>

<!-- ====================================================================== -->
<!-- */recipe/directions                                                    -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT directions (step*)>

<!-- ====================================================================== -->
<!-- */recipe/directions/step                                               -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT step (para*,(image?|image*))>

<!-- ====================================================================== -->
<!-- */recipe/notes                                                         -->
<!--                                                                        -->
<!-- Notes may also double as comments.                                     -->
<!-- ====================================================================== -->

<!ELEMENT notes (note*,(image?|image*))>

<!-- ====================================================================== -->
<!-- */recipe/notes/note                                                    -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT note (para*,author,date)>

<!-- ====================================================================== -->
<!-- */recipe/history                                                       -->
<!--                                                                        -->
<!-- Because every meal has a story.                                        -->
<!-- ====================================================================== -->

<!ELEMENT history (para*,(image?|image*),author,date?)>

<!-- ====================================================================== -->
<!-- /eatdrinkfeelgood/revhistory                                           -->
<!--                                                                        -->
<!-- This is here because ultimately the raw XML is not meant to be written -->
<!-- by a human. Do yourself a favour and get a computer program to manage  -->
<!-- this data.                                                             -->
<!-- ====================================================================== -->

<!ELEMENT revhistory (rev)>

<!-- ====================================================================== -->
<!-- /eatdrinkfeelgood/revhistory/rev                                       -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT rev (version,author,date,changes)>

<!-- ====================================================================== -->
<!-- /eatdrinkfeelgood/revhistory/rev/version                               -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT version (#PCDATA)>

<!-- ====================================================================== -->
<!-- /eatdrinkfeelgood/revhistory/rev/changes                               -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT changes (para*)>

<!-- ====================================================================== -->
<!-- COMMON ELEMENTS USED ACROSS OTHER ELEMENTS                             -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!-- ====================================================================== -->
<!-- */amount                                                               -->
<!--                                                                        -->
<!-- Typically a numeric unit.                                              -->
<!-- ====================================================================== -->

<!ELEMENT amount (#PCDATA)>

<!-- ====================================================================== -->
<!-- */measure                                                              -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT measure (unit?|customunit?)>

<!-- ====================================================================== -->
<!-- */measure/unit                                                         -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT unit EMPTY>
<!ATTLIST unit content %local.measure.unit; #REQUIRED>

<!-- ====================================================================== -->
<!-- */measure/customunit                                                   -->
<!--                                                                        -->
<!-- In anticipation of the inevitable incompleteness of the measure/unit   -->
<!-- element, here's a roll-yer-own.                                        -->
<!-- ====================================================================== -->

<!ELEMENT customunit (#PCDATA)>

<!-- ====================================================================== -->
<!-- */detail                                                               -->
<!--                                                                        -->
<!-- e.g. "lightly beaten"                                                  -->
<!-- ====================================================================== -->

<!ELEMENT detail (#PCDATA)>

<!-- ====================================================================== -->
<!-- */abstract                                                             -->
<!--                                                                        -->
<!-- ====================================================================== -->
     
<!ELEMENT abstract (para*)>

<!-- ====================================================================== -->
<!-- */name                                                                 -->
<!--                                                                        -->
<!-- ====================================================================== -->
     
<!ELEMENT name (common,(other*|other?))>

<!-- ====================================================================== -->
<!-- */name/common                                                          -->
<!--                                                                        -->
<!-- "common" is whatever you call it.                                      -->
<!-- ====================================================================== -->

<!ELEMENT common (#PCDATA)>

<!-- ====================================================================== -->
<!-- */name/other                                                           -->
<!--                                                                        -->
<!-- "other" is whatever someone else calls it.                             -->
<!-- ====================================================================== -->

<!ELEMENT other  (#PCDATA)>

<!-- ====================================================================== -->
<!-- */author                                                               -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT author (firstname,othername?,surname)>

<!-- ====================================================================== -->
<!-- */author/firstname                                                     -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT firstname (#PCDATA)>

<!-- ====================================================================== -->
<!-- */author/othername                                                     -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT othername (#PCDATA)>

<!-- ====================================================================== -->
<!-- */author/surname                                                       -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT surname (#PCDATA)>

<!-- ====================================================================== -->
<!-- */date                                                                 -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT date   (year,month,day)>

<!-- ====================================================================== -->
<!-- */date/year                                                            -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT year  (#PCDATA)>

<!-- ====================================================================== -->
<!-- */date/year                                                            -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT month (#PCDATA)>

<!-- ====================================================================== -->
<!-- */date/month                                                           -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT day   (#PCDATA)>

<!-- ====================================================================== -->
<!-- */date/day                                                             -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT image (title,src,caption?)>
<!ATTLIST image type %local.image.type; #REQUIRED>

<!-- ====================================================================== -->
<!-- */image                                                                -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT title (#PCDATA)>

<!-- ====================================================================== -->
<!-- */image/title                                                          -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT src (#PCDATA)>

<!-- ====================================================================== -->
<!-- */image/src                                                            -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT caption (para*)>

<!-- ====================================================================== -->
<!-- */para                                                                 -->
<!--                                                                        -->
<!-- ====================================================================== -->

<!ELEMENT para   (#PCDATA)>

<!-- ====================================================================== -->
<!-- FIN.                                                                   -->
<!-- ====================================================================== -->
