1.1/eatdrinkfeelgood.dtd

<!-- ====================================================================== 
     Eatdrinkfeelgood data format DTD
     Version 1.1                                                       

     $Date: 2002/12/20 04:44:27 $

     PUBLIC "-//Aaron Straup Cope//DTD Eatdrinkfeelgood 1.1//EN//XML"
     SYSTEM http://www.eatdrinkfeelgood.info/1.1/eatdrinkfeelgood.dtd

     Documentation : http://www.eatdrinkfeelgood.info/docs/1.1
     Changes       : http://www.eatdrinkfeelgood.info/1.1/changes.txt

     This work is licensed under the Creative Commons Attribution-ShareAlike 
     License. 

     To view a copy of this license, visit 

        http://creativecommons.org/licenses/by-sa/1.0 

     or send a letter to 

        Creative Commons, 
        559 Nathan Abbott Way, 
        Stanford, California 
        94305, USA.

     Copyright (c) 2001-2002 Aaron Straup Cope. All Rights Reserved.
     http://www.eatdrinkfeelgood.info

     ====================================================================== -->

<!-- ====================================================================== 

     NOTATIONS
     ====================================================================== -->

<!-- ====================================================================== 

     text: text/plain
     ====================================================================== -->

     <!NOTATION text   SYSTEM "text/plain">

<!-- ====================================================================== 

     html: text/html
     ====================================================================== -->

     <!NOTATION html   SYSTEM "text/html">

<!-- ====================================================================== 

     xhtml: application/xhtml+xml
     ====================================================================== -->

     <!NOTATION xhtml SYSTEM "application/xhtml+xml">

<!-- ====================================================================== 

     foaf: application/rdf+xml
     ====================================================================== -->

     <!NOTATION foaf   SYSTEM "application/rdf+xml">

<!-- ====================================================================== 

     vcard: application/vcard+xml
     ====================================================================== -->

     <!NOTATION vcard   SYSTEM "application/vcard+xml">

<!-- ====================================================================== 

     image: image/gif
     ====================================================================== -->

     <!NOTATION gif     SYSTEM "image/gif">

<!-- ====================================================================== 

     jpeg: image/jpeg
     ====================================================================== -->

     <!NOTATION jpeg    SYSTEM "image/jpeg">

<!-- ====================================================================== 

     png: image/png
     ====================================================================== -->

     <!NOTATION png     SYSTEM "image/png">

<!-- ====================================================================== 

     ENTITIES                                                               
     ====================================================================== -->

<!-- ====================================================================== 

     local.default.content
     ====================================================================== -->

     <!ENTITY % local.default.content "(#PCDATA)">

<!-- ====================================================================== 
     local.meta.name                                                        

     Dublin Core. If you're in to that kind of thing.                       
     It's optional, if you're not.                                          
     ====================================================================== -->

     <!ENTITY % local.meta.name "(DC.Title | DC.Subject | DC.Description | DC.Type | DC.Source | DC.Relation | DC.Coverage | DC.Creator | DC.Publisher | DC.Contributor | DC.Rights | DC.Date | DC.Format | DC.Identifier | DC.Language)">

<!-- ====================================================================== 
     local.category.types

     For the database wonks out there. Use the primary key, Luke.           
     I have no plans of adding something similar for ingredients. That's    
     just weird.                                                            
     ====================================================================== -->

     <!ENTITY % local.category.types "(id|name)">

<!-- ====================================================================== 
     local.category.content                                                     
     ====================================================================== -->

     <!ENTITY % local.category.content "%local.default.content;">

<!-- ====================================================================== 
     local.time.unit                                                     
     ====================================================================== -->

     <!ENTITY % local.time.unit "(days|(hours,minutes?))">

<!-- ====================================================================== 
     local.measure.unit                                                     

     This came out of the Joy of Cooking.                                   

     I'm open to suggestions. I'd to keep the list to things that can be    
     converted from one measure to another, so thing like "large" would 
     best reserved for the customunit element.                              
     ====================================================================== -->

     <!ENTITY % local.measure.unit "(kilogram|gram|milligram|litre|millilitre|gallon|quart|pint|gill|cup|tablespoon|teaspoon|bushel|peck|pound|dram|ounce)">

<!-- ====================================================================== 
     local.image.rel                                                       

     I don't know if this is really necessary.                              
     It just seemed like the right thing to do.                             
     ====================================================================== -->

     <!ENTITY % local.image.rel "(diagram|photo|illustration)">

<!-- ======================================================================
     ELEMENTS                                                              

     ====================================================================== -->

<!-- ====================================================================== 
     eatdrinkfeelgood                                                      

     ====================================================================== -->

     <!ELEMENT eatdrinkfeelgood (head?,(menu|recipe),revhistory)>
     <!ATTLIST eatdrinkfeelgood 
	       version	       CDATA         #FIXED "1.1"
	       xmlns	       CDATA         #FIXED "http://www.eatdrinkfeelgood.info/1.1/ns"
	       xmlns:dc	       CDATA         #FIXED "http://purl.org/dc/elements/1.1/"
	       xmlns:xlink     CDATA         #FIXED "http://www.w3.org/1999/xlink"
               xmlns:xi        CDATA         #FIXED "http://www.w3.org/2001/XInclude">

<!-- ====================================================================== 
     abstract

     ====================================================================== -->
     
     <!ELEMENT abstract (para*)>

<!-- ======================================================================
     amount                                                        

     ====================================================================== -->

     <!ELEMENT amount (quantity,measure?,detail?)>

<!-- ======================================================================
     author                                                              

     ====================================================================== -->

     <!ELEMENT author (extref)>
     <!ATTLIST author                
               content-type   NOTATION (foaf|vcard|html|xhtml|text)  #REQUIRED>

<!-- ====================================================================== 
     bin64b

     ====================================================================== -->

     <!ELEMENT bin64b (#PCDATA)>

<!-- ====================================================================== 
     caption

     ====================================================================== -->

     <!ELEMENT caption (para*)>

<!-- ====================================================================== 
     category                                                      

     ====================================================================== -->

     <!ELEMENT category %local.category.content;>
     <!ATTLIST category type %local.category.types; #REQUIRED>

<!-- ====================================================================== 
     changes

     ====================================================================== -->

     <!ELEMENT changes (para*)>

<!-- ====================================================================== 
     common

     ====================================================================== -->

     <!ELEMENT common (#PCDATA)>

<!-- ====================================================================== 
     cooking

     ====================================================================== -->

     <!ELEMENT cooking %local.time.unit;>

<!-- ======================================================================
     course
                                                                       
     ====================================================================== -->

     <!ELEMENT course (name,abstract?,(recipe|xi:include)*,notes?)>

<!-- ====================================================================== 
     customunit

     ====================================================================== -->

     <!ELEMENT customunit (#PCDATA)>

<!-- ====================================================================== 
     dc:date                                                                 
     
     ====================================================================== -->

     <!ELEMENT dc:date (#PCDATA)>

<!-- ====================================================================== 
     days

     ====================================================================== -->

     <!ELEMENT days (n|range)>

<!-- ====================================================================== 
     detail                                                               

     ====================================================================== -->

     <!ELEMENT detail (#PCDATA)>

<!-- ====================================================================== 
     device

     ====================================================================== -->

     <!ELEMENT device (quantity?,item,detail?,image?)>

<!-- ====================================================================== 
     directions

     ====================================================================== -->

     <!ELEMENT directions (stage*|step*)>

<!-- ====================================================================== 
     equipment

     ====================================================================== -->

     <!ELEMENT equipment (device*)>

<!-- ====================================================================== 
     extref                                                          

     ====================================================================== -->

     <!ELEMENT extref EMPTY>
     <!ATTLIST extref 
               xlink:href     CDATA                           #REQUIRED
               xlink:type     (simple)                        #FIXED          "simple"
               xlink:show     (none)                          #FIXED          "none"
               xlink:title    CDATA                           #REQUIRED>

<!-- ====================================================================== 
     head                                                 

     ====================================================================== -->

     <!ELEMENT head (meta*)>

<!-- ======================================================================
     history                                                     

     Because every meal has a story.                                        
     ====================================================================== -->

     <!ELEMENT history (para*,image*,author?,dc:date?)>

<!-- ====================================================================== 
     hours

     ====================================================================== -->

     <!ELEMENT hours   (n|range)>

<!-- ====================================================================== 
     image                                                             

     ====================================================================== -->

     <!ELEMENT image ((extref|bin64b),caption?)>
     <!ATTLIST image 
               rel            %local.image.rel;        #REQUIRED
               content-type   NOTATION (jpeg|gif|png)  #REQUIRED>


<!-- ====================================================================== 
     ing

     ====================================================================== -->

     <!ELEMENT ing (amount?,item,detail?,image?)>

<!-- ======================================================================
     ingredients

     It's not like meals just grow on trees...or something like that.      
     ====================================================================== -->

     <!ELEMENT ingredients (set*|ing*)>

<!-- ====================================================================== 
     item

     The ingredient itself. e.g. "egg"                                      
     ====================================================================== -->

     <!ELEMENT item (#PCDATA)>

<!-- ====================================================================== 
     max                                                            

     ====================================================================== -->

     <!ELEMENT max (n)>

<!-- ====================================================================== 
     measure                                                              

     ====================================================================== -->

     <!ELEMENT measure (unit?|customunit?)>

<!-- ====================================================================== 
     menu                                                 

     ====================================================================== -->

     <!ELEMENT menu   (name,abstract?,course*,notes?)>

<!-- ====================================================================== 
     meta                                            

     ====================================================================== -->

     <!ELEMENT meta EMPTY>
     <!ATTLIST meta
	       name    %local.meta.name; #REQUIRED
	       content CDATA             #REQUIRED
	       scheme  CDATA             #IMPLIED
	       lang    CDATA             #IMPLIED >

<!-- ====================================================================== 
     min                                                              

     ====================================================================== -->

     <!ELEMENT min (n)>

<!-- ====================================================================== 
     minutes

     ====================================================================== -->

     <!ELEMENT minutes (n|range)>


<!-- ====================================================================== 
     n                                                              

     ====================================================================== -->

     <!ELEMENT n EMPTY>
     <!ATTLIST n type (int|float|frac) #IMPLIED
                 value CDATA           #REQUIRED>

<!-- ====================================================================== 
     name                                                                 

     ====================================================================== -->
     
     <!ELEMENT name (common,other*)>

<!-- ====================================================================== 
     note
                                                                        
     ====================================================================== -->

     <!ELEMENT note (para*,author,dc:date)>

<!-- ====================================================================== 
     notes

     ====================================================================== -->

     <!ELEMENT notes (note*,image*)>

<!-- ======================================================================
     other

     ====================================================================== -->

     <!ELEMENT other  (#PCDATA)>

<!-- ====================================================================== 
     para

     ====================================================================== -->

     <!ELEMENT para   (#PCDATA)>


<!-- ====================================================================== 
     preparation

     ====================================================================== -->

     <!ELEMENT preparation %local.time.unit;>

<!-- ====================================================================== 
     publication

     ====================================================================== -->

     <!ELEMENT publication (name,dc:date?)>
     <!ATTLIST publication 
               xlink:href    CDATA   #IMPLIED
               isbn          CDATA   #IMPLIED>

<!-- ====================================================================== 
     quantity                                                               

     ====================================================================== -->

     <!ELEMENT quantity (n|range)>

<!-- ====================================================================== 
     range                                                              

     ====================================================================== -->

     <!ELEMENT range (min,max)>

<!-- ====================================================================== 
     recipe                                                               

     ====================================================================== -->

     <!ELEMENT recipe (name,source,yield?,category*,requirements,directions,notes?,history?)>

<!-- ====================================================================== 
     requirements                                                    

     ====================================================================== -->

     <!ELEMENT requirements (time?,equipment?,ingredients)>

<!-- ====================================================================== 
     rev
                                                                        
     ====================================================================== -->

     <!ELEMENT rev (version,author,dc:date,changes)>

<!-- ====================================================================== 
     revhistory

     ====================================================================== -->

     <!ELEMENT revhistory (rev*)>

<!-- ====================================================================== 
     set

     ====================================================================== -->

     <!ELEMENT set (name,(xi:include|ing*))>

<!-- ====================================================================== 
     source                                                        
                                                                        
     ====================================================================== -->

     <!ELEMENT source ((author,publication)|(author?,publication)|(author,publication?))>

<!-- ====================================================================== 
     stage

     ====================================================================== -->

     <!ELEMENT stage (name,(xi:include|step*))>

<!-- ====================================================================== 
     step

     ====================================================================== -->

     <!ELEMENT step (para*,image*)>

<!-- ====================================================================== 
     time

     ====================================================================== -->

     <!ELEMENT time ((preparation,cooking)|(preparation?,cooking)|(preparation,cooking?))>

<!-- ====================================================================== 
     unit                                                         

     ====================================================================== -->

     <!ELEMENT unit EMPTY>
     <!ATTLIST unit content %local.measure.unit; #REQUIRED>

<!-- ====================================================================== 
     version

     ====================================================================== -->

     <!ELEMENT version (#PCDATA)>

<!-- ====================================================================== 
     xi:fallback

     ====================================================================== -->

     <!ELEMENT xi:fallback (extref)>

<!-- ====================================================================== 
     xi:include

     ====================================================================== -->

     <!ELEMENT xi:include (xi:fallback)>
     <!ATTLIST xi:include
               href       CDATA       #REQUIRED
               parse      (xml)       #FIXED    "xml"
               encoding   CDATA       #IMPLIED>

<!-- ======================================================================
     yield                                                        

     ====================================================================== -->

     <!ELEMENT yield (amount*)>

<!-- ====================================================================== 
     FIN
     ====================================================================== -->
